*{
    box-sizing: border-box;
    font-family: 'SF Pro Text';
    margin: auto;
}


.container {
    display: flex;
    /* background: #101010; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 165px 0 124px;
    width: 100%;
    /* max-width: 600px; */
    margin: auto;
    border: #fbab40;
    height: 100%;
    background-image: url(./assets/world-1.svg);
    background-repeat:no-repeat ;
    background-size: contain;
    background-position: center;
    /* box-shadow: inset 2000px 0 0 0 rgba(27, 27, 27, 0.9);  */
    background-color: #242628; 
    /* mix-blend-mode: normal;  */
    
    /* background:url("./assets/colns-background.png") no-repeat center;
    
    /* border: 2px solid black; */

    /* Vector */
    
    /* position: absolute;
    left: 0%;
    right: 0.19%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF; */
    /* background:url("./assets/colns-background.png") no-repeat fixed;
    height: 100%;
    overflow: hidden;
    color: #FFFFFF;
    position: absolute; */
}

.header h3 {
    text-align: center;
    color: #ff9e40;
    font-family: SF Pro Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: 36px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-style: normal;
    /* width: 706px;
    height: 67px;
    left: 0px;
    top: 52px;
    position: static; */
}


.header > h1 {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.header > p {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    
    text-align: center;
    
    color: #FFFFFF;
    flex-grow: 0;
    margin: 16px 0px;
}

.options {
display: flex;
flex-direction: row;
}

.options > a {
    color: #FFFFFF;
    text-decoration: underline;
    margin: 0px 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

/* .options > img {

} */

.learn-more{
        
}

.learn-more > a > button {
    background: #F6821F;
    border-radius: 4px;
        border: none;
    width: 180px;
    height: 55px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: rgba(246, 130, 31, 1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
    .container {
        /* padding: 10px; */
        background-image: url(./assets/Page\ 11.png);
        background-repeat:no-repeat;
        background-size: 100% 100%;
        background-position: center;
        box-shadow: inset 2000px 0 0 0 rgba(27, 27, 27, 0.9);

    }

    pre {
        font-size: 0.8rem;
        padding: 8px 12px;
        width: 100%;
    }

    body {
        width: 100vw;
    }

    .header img {
        margin-left: 0;
        /* margin: 0 auto; */
    }

    .installation-steps {
        width: 100%;
        box-sizing: border-box;
    }

    h1 {
        font-size: 1.6rem;
    }

    ol {
        padding-left: 20px;
    }

    li {
        margin-bottom: 5px;
    }
}