pre {
	margin: 0;
	display: block;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.2rem;
	width: 439px;
	/* height: 30px; */
	font-family: Courier Prime;
	/* padding: 1px, 1px, 1px, 1px; */
	color: black;
	padding: 16px 24px;
	background: rgba(251, 171, 64, 0.19);
	border: 2px solid #fbab40;
	border-radius: 2px;
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
	/* font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center; */
}

.installation-steps > h3 {
	/* position: absolute;
    width: 153px;
    height: 23px; */
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */

	text-align: center;

	color: #000000;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 0 24px 0;
	width: 95%;
	max-width: 600px;
	margin: auto;
	border: #fbab40;
	height: auto;
	/* border: 2px solid black; */
}

.header img {
	width: 241px;
	height: 164px;
	margin-left: 70px;
}

.header h3 {
	/* width: 100%; */
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.installation-header img {
	width: 31px;
	height: 26px;
}
.installation-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.installation-steps > span {
	display: flex;
	flex-direction: column;
}
.steps > div > img {
	width: 29px;
	height: 28px;
	margin-right: 10px;
}
.steps > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

button {
	background-color: transparent;
	border: none;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
button > svg {
	width: 1.2rem;
	height: 1.2rem;
    
}
li {
	font-size: 1rem;
}
button:hover {
	cursor: pointer;
	background-color: transparent;
}
body {
	font-family: 'Source Sans Pro';
	padding-top: 5%;
	margin: 0;
}

@media screen and (max-width: 600px) {
	.container {
		padding: 10px;
	}
	pre {
		font-size: 0.8rem;
		padding: 8px 12px;
		width: 100%;
	}
	body {
		width: 100vw;
	}
	.header img {
		margin-left: 0;
		margin: 0 auto;
	}
	.installation-steps {
		width:  100%;
		box-sizing: border-box;
	}
	h1 {
		font-size: 1.6rem;
	}
	ol {
		padding-left: 20px;
	}
	li {
		margin-bottom: 5px;
	}
}